/* Body, Content, Footer, Header */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #cccccc;
}

#content {
    background: white;
    width: 800px;
    overflow: auto;
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0;
}

div {
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: white;
    padding: 18px;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    clear: both;
}

footer {
    background-color: white;
    padding: 18px;
    border-top: 2px solid black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    clear: both;
}

footer,
.push {
    height: 2em;
    clear: both;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}


/* Input & Select */

#input {
    background-color: #551A8B;
}

select {
    display: block;
    margin: 10px auto;
}


/* Lists, Paragraphs, Headers */

#ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

#ul-home {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

#li {
    list-style-type: none;
    display: inline;
}

ol.lowerAlpha {
    list-style-type: lower-alpha;
}

ol.lowerRoman {
    list-style-type: lower-roman;
}

li {
    line-height: 30px;
}

p {
    text-align: center;
}

p.home {
    line-height: 30px;
    text-align: left;
    padding: 0px;
}

p.email {
    line-height: 30px;
    text-align: left;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
}

h1 {
    text-align: center;
}


/* Hyper-Links */

a:active,
a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
    background: #7D26CD;
}

.a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

a {
    float: middle;
    width: 6em;
    color: white;
    text-decoration: none;
    background-color: #551A8B;
    padding: 0.2em 0.6em;
    border-right: 1px;
    border-radius: 5px;
    cursor: pointer;
}


/* Tables */

tr:nth-of-type(odd) {
    background-color: rgb(238, 238, 238);
}

table.t1-home,
th.t1-home,
td.t1-home {
    margin: none;
    border-collapse: collapse;
    width: 600px;
    border: none;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}


/* Register */

.registerForm,
.registerForm input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.registerForm {
    width: 300px;
    height: 420px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.registerForm input {
    height: 30px;
    margin-bottom: 20px;
    padding: 0 20px 0 0;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #cccccc;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.registerForm2 input {
    width: 49%;
}

.registerForm input[type=submit] {
    line-height: 30px;
    margin: 10px auto;
    padding: 0 20px 0 5px;
    border: 1px solid #551A8B;
    outline: none;
    background-color: #551A8B;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    width: 75%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.registerForm input[type=submit]:hover {
    border: 2px solid #7D26CD;
    background: #7D26CD;
    color: orange;
}


/* Login Form */

.loginForm,
.loginForm input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.loginForm {
    width: 300px;
    height: 200px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loginForm input[type=password],
.loginForm input[type=text] {
    height: 30px;
    margin-bottom: 20px;
    padding: 0 20px 0 0;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #cccccc;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
    width: 100%;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.loginForm input[type=submit] {
    line-height: 30px;
    margin: 10px auto;
    padding: 0 20px 0 5px;
    border: 1px solid #551A8B;
    outline: none;
    background-color: #551A8B;
    /** #f0a518**/
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    width: 75%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.loginForm input[type=submit]:hover {
    border: 2px solid #7D26CD;
    /** #ffedcc **/
    background: #7D26CD;
    color: orange;
}


/* Email Form */

.emailForm,
.emailForm2,
.emailForm3,
.emailForm4,
.emailForm5,
.emailForm6,
.emailForm7,
.emailForm8,
.emailForm input,
.emailForm2 input,
.emailForm3 input,
.emailForm4 input,
.emailForm5 input,
.emailForm6 input,
.emailForm7 input,
.emailForm8 input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.emailForm {
    width: 800px;
    height: 1480px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm2 {
    width: 800px;
    height: 930px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm3 {
    width: 800px;
    height: 2070px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm4 {
    width: 800px;
    height: 2070px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm5 {
    width: 800px;
    height: 840px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm6 {
    width: 800px;
    height: 2010px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm7 {
    width: 800px;
    height: 1490px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm8 {
    width: 800px;
    height: 1490px;
    padding: 25px;
    margin: 0 auto;
    border-top: 10px solid orange;
    border-bottom: 10px solid orange;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.emailForm input,
.emailForm2 input,
.emailForm3 input,
.emailForm4 input,
.emailForm5 input,
.emailForm6 input,
.emailForm7 input,
.emailForm8 input {
    height: 30px;
    margin-bottom: 20px;
    padding: 0 20px 0 0;
    border: 1px solid #cccccc;
    outline: none;
    background-color: #cccccc;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, .2);
    width: ;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.emailForm input[type=generate],
.emailForm2 input[type=generate],
.emailForm3 input[type=generate],
.emailForm4 input[type=generate],
.emailForm5 input[type=generate],
.emailForm6 input[type=generate],
.emailForm7 input[type=generate],
.emailForm8 input[type=generate] {
    line-height: 30px;
    margin: 10px auto;
    padding: 0 20px 0 5px;
    border: 1px solid #551A8B;
    outline: none;
    background-color: #551A8B;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    width: 75%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.emailForm input[type=generate]:hover,
.emailForm2 input[type=generate]:hover,
.emailForm3 input[type=generate]:hover,
.emailForm4 input[type=generate]:hover,
.emailForm5 input[type=generate]:hover,
.emailForm6 input[type=generate]:hover,
.emailForm7 input[type=generate]:hover,
.emailForm8 input[type=generate]:hover {
    border: 2px solid #7D26CD;
    background: #7D26CD;
    color: orange;
}


/* Code derived from http://inspirationalpixels.com */


/* Associate Editor */

.SameForm input[type=submit] {
    line-height: 20px;
    margin: 10px auto;
    text-align: center;
    display: block;
    padding: 0 20px 0 5px;
    border: 1px solid #551A8B;
    outline: none;
    background-color: #551A8B;
    /** #f0a518**/
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-width: 2px;
    width: 8%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.SameForm input[type=submit]:hover {
    border: 2px solid #7D26CD;
    /** #ffedcc **/
    background: #7D26CD;
    color: orange;
}


/*----- Accordion -----*/

.accordion,
.accordion * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.accordion {
    overflow: hidden;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #f7f7f7;
}


/*----- Section Titles -----*/

.accordion-section-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    border-bottom: 1px solid #1a1a1a;
    background: #333;
    transition: all linear 0.15s;
    /* Type */
    font-size: 1.200em;
    text-shadow: 0px 1px 0px #1a1a1a;
    color: #fff;
}

.accordion-section-title.active,
.accordion-section-title:hover {
    background: #4c4c4c;
    /* Type */
    text-decoration: none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom: none;
}


/*----- Section Content -----*/

.accordion-section-content {
    padding: 15px;
    display: none;
}